@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
   margin: 0;
   padding: 0;
   font-family: 'Montserrat', sans-serif;
}
// Utilitaire
.link{
    display: inline-block;
    text-decoration: none;
    margin: 0 5px;
}
.redText{
    color: #FF6060;
}
.centerElements{
    width: 90%;
    margin: 25px auto auto auto;
}
.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    left: 50%;
    right: 0;
    margin-bottom: 50px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #FF6060;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
// Fin Utilitaire


.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;margin-bottom: 25px;
    &__link{
        font-size: 17px;
    }
}
.topImage{
    margin: auto;
    width: 95%;
    position: relative;
    &__img{
        width: 100%;
        height: 100%;
        border-radius: 25px;
    }
    &__txt{
        display: flex;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        justify-content: center;
        align-items: center;
        font-size: 48px;
        font-weight: 500;
        line-height: 68.45px;
        color: #fff;
        text-shadow: 1px 1px 1px #a6a6a6;
    }
}
.section{
    &__articleContainer{
        background: #f7f7f7;
        border-radius: 25px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}
.article{
    position: relative;
    margin: 25px 20px;
    transition: all .3s ease-in;
    &__picture{
        width: 340px;
        height: 340px;
        border-radius: 10px;
        object-fit: cover;
    }
    &__titleContainer{
        position: absolute;
        bottom: 10px;
        left: 10px;
        color: #fff;
        text-shadow: 1px 1px 1px #000;
    }
}
.sectionError{
    text-align: center;
    color: #FF6060;
    &__error404{
        margin: 0;
        font-size: 288px;
    }
    &__msg{
        display: inline-block;
        margin-bottom: 100px;
        font-size: 36px;
    }
    &__link{
        display: block;
        color: #FF6060;
        font-size: 18px;
        text-decoration: underline;
    }
}
.imgsLogement{
    width: 100%;
    height: 415px;
    object-fit: cover;
    border-radius: 25px;
}
.logementInfo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.articleLogementInfo{
    flex-basis: 50%;
    &--user{
        text-align: end;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__title{
        font-size: 36px;
        line-height: 142.6%;
        margin-bottom: 0;
        margin-top: 0;
    }
    &__location{
        display: inline-block;
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 142.6%;
    }
    &__hostPicture{
        border-radius: 100px;
        width: 64px;
        vertical-align: middle;
        margin-left: 10px;
    }
}
.articleLogementDesc{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__container{
        flex-basis: 45%;
        margin-top: 10px;
        &__box{
            padding: 15px;
            border-radius: 5px;
            margin-top: -6px;
            &__heading{
                margin: 0;
                font-weight: 500;
                font-size: 18px;
                line-height: 142.6%;
            }
        }
        &__box--h3{
            display: flex;
            justify-content: space-between;
            background: #FF6060;
            color: #fff;
            z-index: 999;
            position: relative;
        }
        &__box--desc{
            background: #F7F7F7;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 142.6%;
        }
    }
}
.logementPic{
    position: relative;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
}
.previousPic{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    & > img{
        cursor: pointer;
    }
}
.picCounter{
    display: block;
    position: absolute;
    bottom: 10%;
    margin: auto;
    width: 100%;
    text-align: center;
}
.nextPic{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 15px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    & > img{
        cursor: pointer;
    }
}
.arrow{
    width: 80%;
    vertical-align: middle;
    transform: rotate(-180deg);
    cursor: pointer;
}
.tag{
    display: inline-block;
    // width: 115px;
    // padding: 5px 0 5px 0;
    padding: 5px 15px;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 14px;
    line-height: 19.96px;
    background: #FF6060;
    color: #fff;
    border-radius: 10px;
    text-align: center;
}
.ulLogement{
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 25.67px;
    font-weight: 400;
}
.flipArrow{
    transform: rotate(0deg);
    transition: all .3s ease;
    &2{
        transform: rotate(-180deg);
        transition: all .3s ease;
    }
}
.footer{
    text-align: center;
    padding: 35px;
    margin-top: 25px;
    background-color: #000;
    color: #fff;
    &__img{
        width: 100px;
        margin-bottom: 20px;
    }
}